/***Container home***/
.container-home{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #F5F5F5;
}

/*Div welcome*/
.welcome{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Div concept*/
.concept{
    position: relative;

}

/*Div contact*/
.contact{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

/***Background***/
.concept-back-one{
    position: absolute;
    width: 30%;
    top: 0;
    right: -15%;
}

.concept-back-two{
    position: absolute;
    width: 20%;
    top: 30%;
    left: -10%;
}

.concept-back-three{
    position: absolute;
    width: 30%;
    top: 60%;
    right: -17%;
}

.concept-back-four{
    position: absolute;
    width: 30%;
    top: 10%;
    right: -17%;
}

.concept-back-five{
    position: absolute;
    width: 20%;
    top: 15%;
    left: -10%;
}

/*Link*/
.link{
    display: flex;
    margin: 0 0 30px;
    justify-content: center;
    gap: 10%;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
}

.link a{
    flex: 1;
    text-align: center;
}

.link a:active{
    color: grey;
}

/*copyright*/
.copyright{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}

