/***Component Welcome***/
.component-welcome{
    flex: 1;
    display: flex;
}


/***Content welcome***/
.welcome-content{
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*Title*/
.welcome-content h1{
    width: 80%;
    text-align: center;
    font-family: 'Caveat';
    font-size: 4rem;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Paragraphe*/
.welcome-content p{
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align: center;
    margin: 2% 0;
}

/*Phone*/
.welcome-background3{
    width: 20%;
    -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Img app*/
.welcome-later{
    width: 50%;
    margin-bottom: 5%;
    -webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Background*/
.welcome-background4{
    display: none;
}

.welcome-background5{
    display: none;
}

/*****Img*****/
.welcome-img{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.welcome-background{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    left: 5%;
}


/*****Mobile view******/
@media only screen and (max-width: 1600px) {

    /*Title component*/
    .component-welcome h1{
        font-size: 3rem;
    }
    
    /*Img*/
    .welcome-background3{
        width: 25%;
    }

    /*Img app*/
    .welcome-later{
        width: 60%;
        margin-bottom: 5%;
    }
    
    .welcome-background{
        position: absolute;
        width: 110%;
        top: 50%;
        transform: translate(-5%, -50%);
        left: 5%;
    }
}


@media only screen and (max-width: 1200px) {

    /*Div content*/
    .welcome-content {
        width: 60% ;
    }

    /*Img app*/
    .welcome-later{
        width: 70%;
        margin-bottom: 5%;
    }
    
}

@media only screen and (max-width: 1000px) {

    /***component welcome***/
    .component-welcome {
        flex-direction: column;
        position: relative;
    }

    /*Title*/
    .component-welcome h1{
        width: 55%;
    }

    /*Div img*/
    .welcome-img{
        display: none ;
    }

    /*Div content*/
    .welcome-content {
        width: 100%;
    }

    /*Img*/
    .welcome-background3{
        width: 20%;
    }

    /*Paragraph*/
    .welcome-content p{
        margin-top: 5%;
    }

    /*Img app*/
    .welcome-later{
        width: 50%;
        margin: 5% 0;
    }

    /*Background*/
    .welcome-background4{
        display: block;
        width: 40%;
        position: absolute;
        top: 15%;
        left: -20%;
    }
    
    .welcome-background5{
        display: block;
        width: 40%;
        position: absolute;
        top: 35%;
        right: -20%;
    }
    
    
}

@media only screen and (max-width: 750px) {
    /*Paragraph*/
    .welcome-content p{
        margin: 10% 0 2%;
    }

    /*Img app*/
    .welcome-later{
        width: 60%;
        margin: 5% 0;
    }
}

@media only screen and (max-width: 650px) {
    /*Title*/
    .component-welcome h1{
        width: 80%;
        font-size: 3rem;
    }

    /*Paragraph*/
    .welcome-content p{
        margin: 10% 4% 2%;
    }

    /*Background*/
    .welcome-background3{
        margin-top: 2%;
        width: 30%;
    }

    .welcome-background4{
        display: block;
        width: 40%;
        position: absolute;
        top: 20%;
        left: -20%;
    }
}

@media only screen and (max-width: 500px) {

    /*Paragraph*/
    .component-welcome p{
        font-size: 1rem;
    }
    
    /*Img app*/
    .welcome-later{
        width: 70%;
        margin: 7% 0;
    }
}

@media only screen and (max-width: 400px) {
    /*Title component*/
    .component-welcome h1{
        font-size: 2rem;
        width: 70%;
    }

    /*Paragraph*/
    .component-welcome p{
        font-size: 0.8rem;
    }
    
    /*Img app*/
    .welcome-later{
        width: 70%;
        margin: 3% 0;
    }
}

/*
@media screen and (orientation: landscape) and (max-width: 1200px) {
    


}*/


